 .hide {
     display: none;
 }
 
 .slot-timing p {
     font-weight: bold;
 }

 
 .slot-timing .card {
     width: 100%;
     background-color: #fefefe;
     border-radius: 10px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     padding: 20px;
 }
 
 .slot-timing .orange-card {
     background-color: #f48420;
     color: white;
 }
 
 .slot-timing .white-card {
     background-color: white;
     color: black;
 }
 
 .slot-timing .div2 {
     width: 100%;
     /* Use flexbox layout */
     background-color: #fefefe;
     border-radius: 10px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     padding: 20px;
 }
 


 
 .slot-timing .rounded-button {
     border-radius: 20px;
     /* Add rounded corners to the button */
     padding: 10px 0px 10px 20px ;
     /* Add some padding for the text */
 }
 
 .slot-timing {
     padding: 5%;
 }

 .slot-timing .button-container input{
    background-color: #f1843b;
    border: none;
    width: 165px;
    border-radius: 20px;
    color: black;
 }
 .slot-timing button{
    width: 145px;
 }

 .datetimecontainer{
    display: flex;
    flex-direction:column;
    transition: 1s;
 }
